@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


.lmezXe img {
  margin-right: 0.75rem;
  width: 9.5rem !important;
}
.gyREIz {
  --tw-bg-opacity: 1;
  margin-left: -2rem !important;
  margin-right: -2rem !important;
  /* background-color: rgb(0 32 101) !important; */
  background-image: url("./images/20023293.jpg");
  background-size: cover;
  padding-left: 2rem;
  /* filter: brightness(0.5); */
  padding-right: 2rem;
  --tw-text-opacity: 1;
  color: rgb(247 250 252 / var(--tw-text-opacity));
}
.gyREIz {
  margin-top: 0rem !important;
  margin-bottom: 2.5rem;
}
.truss {
  height: 70px;
  background: #000;
  width: 100vw;
  margin-left: -2rem !important;
  margin-right: -2rem !important;
  overflow: hidden;
}
.truss img {
  height: 100%;
  object-fit: cover;
}

.gDbhMd .BlogIndex__Post-sc-11jbi6t-4 {
  padding-right: 1rem;
  display: flex !important;
  flex-direction: column !important;
  /* flex-direction: row !important; */
}

video {
  position: absolute;
  top: 0;
  filter: brightness(0.5);
  left: 0;
  min-width: 100%;
  object-fit: cover;
  z-index: -100;
}
.eMBGtn img {
  margin-right: 0.75rem;
  min-width: 120px !important;
  min-height: 50px !important;
}
.dyYDeT {
  color: rgb(0, 162, 237);
}
.jwdah {
  background: rgb(0, 162, 237) !important;
}
.cqaZle {
  background-image: url(https://cloud.appwrite.io/v1/storage/buckets/6620f76…/files/664354e…/view?project=661d51c…&mode=admin);
  height: 16rem;
  width: 16rem;
  border-radius: 0.25rem;
  background-size: cover !important;
  background-position: center center;
}

.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.aetbs {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem !important;
}
#emitter {
  visibility: hidden;
  background-color: #222;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 40%;
  left: 0%;
}
.dot-container {
  position:absolute;
  left:0;
  top:0;
  overflow:visible;
  z-index:5000;
  pointer-events:none;
}
.dot {
  position: absolute;
  pointer-events: none; /*performance optimization*/
}